# MacOS
._*
.DS_Store

# VS code
.vscode

# test 파일
test*

# Server
__pycache__

*.pdf

# ns3
network_optimization/ns-3.45/**
!network_optimization/ns-3.45/scratch/route_simulation.cpp
!network_optimization/ns-3.45/build